* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 1rem;
    display: inline-block;
}

.box:hover {
    background-color: beige;
}