* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 1rem;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-image: url("https://static5.gunfire.com/eng_pl_SA-H07-ONE-TM-Carbine-Replica-1152216912_2.webp"); */
}

.box:hover {
    background-color: rgba(140, 70, 98, 0.51);
    /* width: 200px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fa.fa-car {
    color: red;
    font-size: 3rem;
}