/* I added this for you so do not remove it */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-size: var(0.85rem);
  line-height: 1.8;
}

p {
  margin: 1rem;
  box-shadow: none;
}


header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background: white;
}

.logo img {
  width: 50%;
  border-radius: 50%; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}


nav ul li a {
  text-decoration: none;
  color: #5f5b5b;
  font-weight: 600;
  font-size: 1rem;
}


#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 8rem;
}


#title img {
  width: 35%; 
  border-radius: 50%;
}

.text-content h1{
  max-width: 375px;
  font-size: 2rem;
}

.text-content p{
  font-size: 1rem;
  font-weight: 700;
  color: #777777;
  max-width: 350px;
}

.highlight {
  font-weight: 700;
  color: #4f81e4;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.primary-btn {
  background-color: #6a8ff4;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px; 
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.primary-btn:hover {
  background-color: #5568df;
}

.secondary-btn {
  background-color: white;
  color: #676767;
  border: 2px solid #ccc;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.secondary-btn:hover {
  border-color: #647cff;
  color: #647cff;
}


#activities {
  padding: 2rem 8rem;
}

.activities-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 2rem;
}

.activities-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right-section section {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: #333;
  text-align: center;
}

.right-section h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.8rem;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.newsletter input {
  width: 90%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  background: #f4f6fa;
  text-align: center;
  outline: none;
}

.newsletter button {
  background-color: #6a8ff4;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.3s ease;
  width: 90%;
}

.newsletter button:hover {
  background-color: #5568df;
}


.act {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 1.5rem;
  max-width: 700px;
}

.act-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.act-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag {
  display: inline-block;
  background: #eceffa;
  color: #6b75ad;
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.act-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #777;
  margin-top: 0.5rem;
}

.mini-logo {
  width: 10%;
  border-radius: 50%;
}

.load-more {
  text-align: center;
}

.load-more button {
  background-color: #6a8ff4;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more button:hover {
  background-color: #5568df;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  background: #f1f1f1;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li a {
  text-decoration: none;
  color: #333;
}

/* medium */
@media screen and (max-width: 1000px) {
  .activities-grid {
    grid-template-columns: 1fr; 
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }
  #title img {
    display: none;
  }
}

/* small */
@media screen and (max-width: 700px) {
  .activities-grid {
    display: flex;
    flex-direction: column;
  }

  #title img {
    display: none;
  }

  .act {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .act-img {
    width: 100%; 
    height: auto;
  }

  .right-section section {
    width: 100%;
  }
}
