/* first thing you need to do before styling */
/* is to reset the default browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --link-color: #0000ff;
    --btn-color: orange;
    --highlight-color: yellow;
    --separator-color: #ccc;
}

header h1 {
    text-align: center;
    border-bottom: var(--separator-color) 1px solid;
}