/* first thing you need to do before styling */
/* is to reset the default browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --text-color: black;
    --link-color: #0000ff;
    --btn-color: orange;
    --highlight-color: yellow;
    --separator-color: #ccc;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header h1 {
    text-align: center;
    border-bottom: var(--separator-color) 1px solid;
    padding: 1rem;
    letter-spacing: 1.5px;
}

header h1 span {
    color: red;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 1rem;
}

nav ul li {
    margin: 0.5rem;

    a {
        text-decoration: none;
        color: var(--link-color);
    }

    a:hover {
        color: var(--btn-color);
        text-decoration: underline;
    }

}

main {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.sub-img {
    width: 20vh;
}

.btn-buy {
    background-color: var(--btn-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: orange;
    padding: 1rem;
    color: white;
    text-align: center;
}

@media screen and (min-width : 400px) {
    /* body {
        background-color: blue;
    } */

}

@media screen and (min-width : 600px) {
    /* body {
        background-color: green;
    } */

    .header-nav {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        border-right: 1px solid var(--separator-color);
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

}



/* :root:has(#theme:checked) {
    color-scheme: dark;
} */

/* @media screen and (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

} */