* {
    border: 1px solid red;
    box-sizing: border-box;
}


.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1rem;
    display: inline-block;
}

div:hover {
    background-color: rgba(0, 0, 255, 0.378);
}

/* .special-box:nth-child(odd) {
    background-color: green;
} */
/* color the old children */

/* tr:nth-child(2n+1) {
    background-color: green;
} */